@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/*Small screen content first*/
@media only screen and (max-width: 300px) {
    body {
        background-color: red;
    }

    div#small {
        background: white;
    }

    div#medium {
        background: red;
    }

    div#large {
        background: purple;
    }

    p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;
        padding: 2px;
    }
}

/*medium screen content second*/
@media only screen and (min-width: 300px) and (max-width: 768px) {

    body {
        background-color: green;
    }

    div#small {
        background: white;
        width: 33.33%;
        float: left;
    }

    div#medium {
        background: red;
        width: 66.67%;
        float: left;
    }

    div#large {
        background: purple;
        width: 100%;
        float: left;
    }

    p {
        font-family: 'Open Sans', sans-serif;
        font-size: medium;
        padding: 2px;
    }

}

/*large screen content last*/
@media only screen and (min-width: 768px) {
    body {
        background-color: blue;
    }

    div#small {
        background: white;
        float: left;
        width: 33%;
    }

    div#medium {
        background: red;
        float: left;
        width: 33%;
    }

    div#large {
        background: purple;
        float: left;
        width: 33%;
    }

    p {
        font-family: garamond, serif;
        font-size: larger;
        padding: 2px;
    }
}